@import './base.css';

* {
  box-sizing: border-box;
}

:root {
  --coral: coral;
  --blue-light: rgb(68, 192, 233);
  --yellow: rgb(254, 254, 88);
  --green-light: #e6fdf5;
  --green-api: #70b42c;
  --green-back: #257a5d;
  --green-dark: #083929;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

main {
  min-height: 100vh;
  margin-top: 100px;
  padding-bottom: 50px;
  /* padding: 20px; */
}

:is(h1, h2, h3) {
  font-family: monospace;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin: 10px 0;
  padding-bottom: 20px;
}

h3 {
  font-size: 20px;
  padding: 20px 0;
  text-align: center;
}

h4 {
  font-size: 18px;
  /* text-decoration: underline; */
  margin-bottom: 20px;
}

img {
  display: block;
}
button:hover {
  scale: 120%;
}
