@import './base.css';

@import '../assets/Css/Breakpoint-870.css' (max-width: 870px);
@import '../assets/Css/Breakpoint-700.css' (max-width: 700px);

* {
  box-sizing: border-box;
}

:root {
  --coral: coral;
  --blue-light: rgb(68, 192, 233);
  --blue-electric: #00008b;
  --yellow-day: #fff8dc;
  --yellow: rgb(254, 254, 88);
  --green-light: #e6fdf5;
  --green-api: #70b42c;
  --green-back: #257a5d;
  --green-dark: #083929;

  /* -----container-------- */
  --container-width: 1200px;
  /* ------responsive------ */
  --container-width-bp-870: 600px;
  --container-width-bp-700: 350px;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 20px;
}

main {
  min-height: 100vh;
  margin-top: 100px;
  padding-bottom: 50px;
}

:is(h1, h2, h3) {
  font-family: monospace;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin: 10px 0;
  padding-bottom: 20px;
}

h3 {
  font-size: 20px;
  padding: 20px 0;
  text-align: center;
}

h4 {
  font-size: 18px;
  /* text-decoration: underline; */
  margin-bottom: 20px;
}

img {
  display: block;
}
button:hover {
  scale: 120%;
}

@media (max-width: 870px) {
  #container {
    min-width: var(--container-width-bp-870);
  }
}

@media (max-width: 700px) {
  #container {
    min-width: var(--container-width-bp-700);
  }
  h1,
  .first-h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  button {
    scale: 80%;
  }
}
